LINE_CHANNEL_SECRET=1abf4967bd9360b5db9bb7bb9a6d515a
LINE_CHANNEL_ACCESS_TOKEN=MUXoBUGrf3krb6JwikWB3og6SyJt+SCn4pm4SFkz3e9nCDlq2KEi4+0FNXD68w7TwC+PVnUxFS/v7flq9W86uQsSoFRXG0J81objpJ/lisAm+PtKP6/05BQMi7NoNT0G7/lU1886Vux5Hs9bmdIkowdB04t89/1O/w1cDnyilFU=
PORT=8000